extends layout

block content
  section#payment-center
      .content-payment-center-form
        .form-header
          h2.title Admin Panel (Reset Password)
          span.step-counter
            | 1 
            small / 1
        form.form-payment(action='/change', method='POST')
          .step.step-1
          table.table
            thead
              tr
                th(scope='col') First Name
                th(scope='col') Last Name
                th(scope='col') Email
                th(scope='col') 
            tbody
              each user in data
                tr
                  td #{user.contactInfo.firstName}
                  td #{user.contactInfo.lastName}
                  td #{user.email}

                  



