extends layout

block content
  section#payment-center
      .content-payment-center-form
        .form-header
          h2.title Change Password
          span.step-counter
            | 1 
            small / 3
        form.form-payment(action='/change', method='POST')
          .step.step-1
            .form-group
              label Old Password
              input.form-input(type='password', name='oldPass', placeholder='Type old password')
            .form-group
              label New Password
              input.form-input(type='password', name='newPass', placeholder='Type your new password')
            .form-group
              label Confirm New Password
              input.form-input(type='password', name='confNewPass', placeholder='Confirm your new password')      

              label(style=style) #{message}
        
              
            .form-group
              button.btn.btn-next.btn-orange(type='submit') Change
   

