extends layout

block content
  section#payment-center
      .content-payment-center-form
        .form-header
            h2.title Payment Center
            span.step-counter
                | 3 
                small / 3
        form.form-payment(action='/pass', method='POST')
          .step.step-1
            .form-group
              label Date Range
              select.form-input(name='selectedDate', id='', required='')
                option(value='') Select an option
                option(value=1) #{dates.lastMonth}
                option(value=0) #{dates.thisMonth}

            .form-group
              button.btn.btn-next.btn-orange(type='submit') Submit Invoice

