extends layout

block content
  section#payment-center
      .content-payment-center-form
        .form-header
          h2.title Payment Center
          span.step-counter
            | 1 
            small / 3
        form.form-payment(action='/auth', method='POST')
          .step.step-1
            .form-group
              label Your Email
              input.form-input(type='email', name='email', placeholder='example@serpicodev.com')
            .form-group
              label Your Password
              input.form-input(type='password', name='pass', placeholder='Type your password')
              label(style=style) #{message}
            .form-group
              button.btn.btn-next.btn-orange(type='submit') Login
   

