doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css')
  body
    .pt-5.pb-4(style='')
      .container
        .row(style='background-color: #f3f3f3;')
          .col-md-12
            .row
              .col-md-6(style='')
                h1
                  |#{firstName} #{lastName}
                  br
                h5 #{month}
              .col-md-6
                h5.text-right=userInfo

        .row
          .col-md-12
            .row
              .col-md-6.bg-light.pt-2
                h5.text-secondary(style='')
                  b SerpicoDev
                h5.text-secondary Vincent Serpico
              .col-md-6.bg-light.pt-2
                h5.text-right.text-secondary
                  b BALANCE DUE
                h5.text-right.text-secondary Upon Receipt
                h4.text-success.text-right
                  b $ #{(totalTime*paymentRate).toFixed(2)}
    .pt-1(style='')
      .container
        .row
          .col-md-12
            .row
              .col-md-12(style='')
                .table-responsive.pb-4
                  table.table
                    thead
                      tr(style="background-color: #f3f3f3;color: #494949;")
                        th Item Description
                        th(style='text-align: center;') Price per hour
                        th(style='text-align: center;') Hours
                        th(style='text-align: right;') Total Cost
                    tbody
                        each project in times
                          tr
                            td 
                                p(style='font-weight: bold;') #{project.title}
                                    each cat in project.categories
                                        p(style='text-indent:20px; font-weight: bold;')=cat.name
                                        each task in cat.tasks
                                          p(style='text-indent:30px; font-weight: 400;')=task.title.slice(0, 50)+'...'
                                          each time in task.times
                                              p(style='text-indent:40px; font-size: 14px;')=time.description.slice(0, 50)+'...' 
                                            
                            td(style='text-align: center;') 
                                p(style='font-weight: bold;') #{paymentRate} 

                            td(style='text-align: center;') 
                                p(style='font-weight: bold;') #{project.time}
                                each cat in project.categories
                                  p(style='font-weight: bold;')=cat.total.toFixed(2)
                                  each task in cat.tasks
                                    p(style='font-weight: 400;')=task.total.toFixed(2)
                                    each time in task.times
                                        p(style='font-size: 14px;')=time.time
                                //- each task in project.tasks
                                //-     p(style='text-indent:0px; font-weight: 400;') #{task.total.toFixed(2)}
                                //-     each time in task.times
                                //-         p #{time.time}
                            td(style='text-align: right;') #{(paymentRate*project.time).toFixed(2)}

        .row
          .col-md-12
            .row
              .col-md-12
                .row
                  .col-md-12.text-secondary
                    h4.text-center
                      | Payment Information
                      br
                    h4.text-left
                      | #{paymentInfo}
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
   