doctype html
html
  head
    title Payment Center
    //- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    .wrapper-payment-center
      header
        .content
          img.logo(src='images/serpicodev-logo.png', alt='Serpicodev Logo')
      block content
