extends layout

block content
  section#payment-center
      .content-payment-center-form
        .form-header
            h2.title Payment Center
            span.step-counter
                | 2 
                small / 3
        form.form-payment-info(action='/dates', method='POST')
          .step.step-1
            .form-group
              label Address
              textarea.form-input(name='userInfo', cols='30', rows='10', placeholder='Your Address \nCity, State, 83xxx, Country', style='overflow:auto;resize:none' )=contactInfo.userInfo
            .form-group
              label Payment Info
              textarea.form-input(name='paymentInfo', cols='30', rows='10', placeholder='Enter your Transferwise, Paypal or Wire Transfer info here', style='overflow:auto;resize:none' )=contactInfo.paymentInfo
            .form-group
              label Payment Rate
              input.form-input(type='text', name='paymentRate', value=contactInfo.paymentRate)
            .form-group
              button.btn.btn-back.btn-blue(type='button') Edit
              button.btn.btn-next.btn-orange(type='submit') Next

