/*!
Theme Name:
Author: 
Author URI: 
Description:
Version: 
License: 
*/

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0
}

.wrapper-payment-center {
    height: 100vh;
    width: 100%;
    background-image: url(../images/bg-payment-center.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    font-family: Raleway, sans-serif
}

.wrapper-payment-center header {
    text-align: center;
    padding: 40px
}

.wrapper-payment-center header .logo {
    width: 300px
}

.wrapper-payment-center #payment-center .content-payment-center-form {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-header {
    background-color: #3a5574;
    border-radius: 5px 5px 0 0;
    padding: 7px 18px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-header .title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    margin: 0;
    display: inline-block;
    width: 80%
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-header .step-counter {
    display: inline-block;
    width: 18%;
    text-align: right;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-family: Montserrat, sans-serif
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-header .step-counter small {
    font-weight: 400;
    font-size: 11px;
    color: #5492d3;
    margin-left: 4px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment {
    padding: 23px 18px;
    position: relative;
    height: 400px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment .step.hidden {
    display: none
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment .form-group label {
    color: #333;
    font-size: 14px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment .form-group .form-input {
    width: 100%;
    border: none;
    background-color: #ececec;
    color: #a2a2a2;
    border-radius: 4px;
    height: 38px;
    padding: 0 15px;
    font-style: italic;
    margin: 7px 0 19px;
    font-size: 16px;
    box-shadow: 0 3px 1px 0 #ccc
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment .form-group textarea {
    height: 170px!important;
    padding-top: 10px!important
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment .form-group .btn {
    border: none;
    border-radius: 4px;
    height: 38px;
    padding: 0;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    width: 135px;
    box-shadow: 0 3px 1px 0 #50739b;
    position: absolute;
    bottom: 25px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment .form-group .btn.btn-orange {
    background-color: #fb7e2a;
    right: 20px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment .form-group .btn.btn-blue {
    background-color: #4e92df;
    left: 20px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info {
    padding: 23px 18px;
    position: relative;
    height: 630px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info .step.hidden {
    display: none
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info .form-group label {
    color: #333;
    font-size: 14px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info .form-group .form-input {
    width: 100%;
    border: none;
    background-color: #ececec;
    color: #a2a2a2;
    border-radius: 4px;
    height: 38px;
    padding: 0 15px;
    font-style: italic;
    margin: 7px 0 19px;
    font-size: 16px;
    box-shadow: 0 3px 1px 0 #ccc
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info .form-group textarea {
    height: 170px!important;
    padding-top: 10px!important
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info .form-group .btn {
    border: none;
    border-radius: 4px;
    height: 38px;
    padding: 0;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    width: 135px;
    box-shadow: 0 3px 1px 0 #50739b;
    position: absolute;
    bottom: 25px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info .form-group .btn.btn-orange {
    background-color: #fb7e2a;
    right: 20px
}

.wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info .form-group .btn.btn-blue {
    background-color: #4e92df;
    left: 20px
}

@media (min-width:992px) {
    .wrapper-payment-center {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center
    }
    .wrapper-payment-center header {
        padding-top: 0
    }
    .wrapper-payment-center #payment-center .content-payment-center-form {
        width: 400px
    }
    .wrapper-payment-center #payment-center .content-payment-center-form .form-header .title {
        width: 80.8%
    }
    .wrapper-payment-center #payment-center .content-payment-center-form .form-payment .form-group .form-input {
        font-size: 14px
    }
    .wrapper-payment-center #payment-center .content-payment-center-form .form-payment-info .form-group .form-input {
        font-size: 14px
    }
}